__pycache__/
*.py[cod]
*.pyo
*.pyd
.qodo

venv/
env/
newVenv/
.venv/

.env
.env.*
*.env

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log

.cache/
.cache/**
**/.cache/

.huggingface/
**/.huggingface/

.torch/
**/.torch/

*.lock

tmp/
temp/
*.tmp

.ipynb_checkpoints/

build/
dist/
*.egg-info/
